.MainChat-container {
    display: flex;
    flex: 3;
}


.chat-container {
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 100%;
    background-color: #f6f7f8;
}

.chat-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    color: white;
    background-color: #00b3b7;
}

.chatDetails {
    display: flex;
    flex-direction: column;
}

.chat-header .person-name {
    font-size: 20px;
    margin: 10px 0 0px 30px;
}

.chat-header .status-online {
    font-size: 13px;
    margin: 5px 0 3px 31px;
    color: #3DFF2E;
    letter-spacing: 1px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.chat-header .status-offline {
    font-size: 12px;
    margin: 5px 0 3px 30px;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    animation: fadeIn 3s;
}

.last-seen {
    font-size: 13px;
}

.chatBox {
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: auto;
    height: 40px;
}

.chatbox-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    border-radius: 16px;
    padding: 7px 10px 8px 8px;
}

.chatbox-container form {
    width: 100%;
}

.chat-input {
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
}

.messages-container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    background: #e5ddd6;
    overflow-y: scroll;
}

.sendedMessageContainer {
    display: flex;
    margin: 5px 15px;
    justify-content: flex-end;
}

.recievedMessageContainer {
    display: flex;
    margin: 5px 15px;
    justify-content: flex-start;
}

.messageDiv {
    display: flex;
    margin: 5px 15px;
    justify-content: flex-start;
}

.message {
    max-width: 50%;
    font-size: 14px;
    background: #daf8cb;
    color: #303030;
    padding: 8px 10px;
    border-radius: 5px;
    word-break: break-all;
}

/* EMPTY CHAT COMPONENT CSS */

.emptyChat-container {
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 100%;
    background-color: #d4dee9;
    justify-content: center;
    align-items: center;
}

.startChat-div {
    display: flex;
    background-color: #4ae2fb;
    width: 260px;
    height: 30px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.newMessage-false {
    display: none;
}

.sended-time {
    display: flex;
    justify-content: flex-end;
    color: #83a7a5;
    margin: 4px -6px -4px 12px;
    font-size: 11px;
}

/* DROP DOWN */

.dropdown-container {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.three-dots-container {
    border-radius: 50px;
    width: 21px;
    height: 29px;
}

.three-dots-container:hover {
    background-color: #00c8ff;
}

.three-dots:after {
    cursor: pointer;
    color: #fff;
    content: '\2807';
    font-size: 20px;
    padding: 0 5px;
}

.dropdown div span {
    color: black;
    margin: 6px 0 6px 10px;
}

.dropdown div {
    display: flex;
    padding: 2px;
    border-radius: 3px;
}

.dropdown div:hover {
    background-color: #f1f1f1;
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    background-color: #FFF;
    outline: none;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    transition: 0.1s;
    margin: 100px 4px 0 0;
    border-radius: 3px;
    width: 95px;
    cursor: pointer;
}

.dropdown-container:focus {
    outline: none;
}

.dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    transition: 0.2s;
}