.MainChat-container {
    display: flex;
    flex: 3;
}


.chat-container {
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 100%;
    background-color: #f6f7f8;
}

.chat-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    color: white;
    background-color: #00b3b7;
}

.chat-header .person-name {
    font-size: 23px;
    margin: 15px 0 10px 30px;
}

.chat-header .status-online {
    font-size: 18px;
    margin: 18px 0 0 30px;
    color: #3DFF2E;
    letter-spacing: 1px;
}

.chat-header .status-offline {
    font-size: 18px;
    margin: 18px 0 0 30px;
    color: #F00;
    letter-spacing: 1.5px;
}

.chatBox {
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: auto;
    height: 40px;
}

.chatbox-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    border-radius: 16px;
    padding: 5px 10px;
}

.chatbox-container form {
    width: 100%;
}

.chat-input {
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
}

.messages-container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    background: #e5ddd6;
    overflow-y: scroll;
}

.messageDiv {
    display: flex;
    margin: 5px 15px;
    justify-content: flex-start;
}

.message {
    max-width: 50%;
    font-size: 14px;
    background: #daf8cb;
    color: #303030;
    padding: 8px 10px;
}

/* EMPTY CHAT COMPONENT CSS */

.emptyChat-container {
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 100%;
    background-color: #d4dee9;
    justify-content: center;
    align-items: center;
}

.startChat-div {
    display: flex;
    background-color: #4ae2fb;
    width: 260px;
    height: 30px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}