.contacts-container {
    display: flex;
    flex-direction: column;
    flex: 1.6;
    height: 100%;
    background-color: #fff;
}

.profileBand {
    display: flex;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid aliceblue;
    background: #1434A4;
}

.profileBand span {
    font-size: 28px;
    margin: 10px 0 0 40px;
    color: white;
}

.profileBand img {
    height: 50px;
    margin: 5px;
    border-radius: 50px;
    margin-left: 7px;
}

.profileBand button {
    background-color: blue;
    color: white;
    height: 32px;
    width: 57px;
    margin: 10px 15px 10px auto;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 10px #888888;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1)
}

.contact-list {
    background: white;
}

.contact-list :hover {
    background-color: #c9c6c6;
}

.contact-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    background: white;
    cursor: pointer;
    height: 60px;
    cursor: pointer;
}

.contactName {
    font-size: 18px;
    color: black;
    margin: 5px 0 0 15px;

}

.unreadMessages-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #65bf58;
    color: white;
    margin: auto 20px auto auto;
    border-radius: 65px;
    width: 40px;
    height: 24px;
    font-size: 14px;
    pointer-events: none;
}

