.contacts-container {
    display: flex;
    flex-direction: column;
    flex: 1.6;
    height: 100%;
    background-color: #fff;
}

.contacts-searchBox {
    background-color: #1434A4;
}

.contacts-searchBox .search {
    width: 96%;
    height: 32px;
    margin: 2%;
    padding: 9px 4px 9px 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.profileBand {
    display: flex;
    height: 60px;
    background-color: #fff;
    background: #1434A4;
}

.profileBand span {
    font-size: 28px;
    margin: 10px 0 0 40px;
    color: white;
}

.profileBand img {
    height: 50px;
    margin: 5px;
    border-radius: 50px;
    margin-left: 7px;
}

.profileBand button {
    background-color: blue;
    color: white;
    height: 32px;
    width: 57px;
    margin: 10px 15px 10px auto;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 10px #888888;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1)
}

.contact-list {
    background: white;
}

.contact-list :hover {
    background-color: #f1f1f1;
}

.contact-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    height: 60px;
    background: white;
    cursor: pointer;
}

.selected-contact-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    height: 60px;
    background: #00bfff;
    pointer-events: none;
}

.selected-contact-item span {
    color: white;
}

.search-contact-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    height: 60px;
    background: white;
    cursor: pointer;
}

.search-contactName {
    font-size: 18px;
    color: black;
    margin: 6px 0 0 15px;
}

.selected-search-contact-item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    height: 60px;
    background: #00bfff;
    pointer-events: none;
}

.userName {
    font-size: 14px;
    margin-left: 16px;
    margin-top: 2px;
}

.avatarImg {
    height: 40px;
    border-radius: 50px;
    margin: 10px 5px 10px 5px;
}

.searchItem-Deatails {
    display: flex;
    flex-direction: column;
}

.contactItemLeft {
    display: flex;
    flex-direction: column;
}

.contactName {
    font-size: 18px;
    color: black;
    margin: 8px 0 0 15px;
}

.lastMsg {
    font-size: 13px;
    color: black;
    margin: 8px 0 0 16px;
    font-family: 'Dosis', sans-serif;
    color: #aa9b9b;
    word-break: break-all;
}

.contactItemRight {
    display: flex;
    flex-direction: column;
    margin: 8px 5px 0 auto;
}

.lastMsgTime {
    font-size: 11px;
    font-family: 'Dosis', sans-serif;
    color: gray;
}

.unreadMessages-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #65bf58;
    color: white;
    margin: 8px 0px 0px auto;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    font-size: 11px;
    pointer-events: none;
}